<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <footer>
        <div class="footer grid grid--auto">
            <div class="container collapsible">
                <div class="footer__header">
                    <h2>Hosting</h2>
                    <button class="btn btn--toggler"><img src="../icons/chevron-left.svg" alt=""></button>
                </div>
                <ul class="list">
                    <li class="footer__item">item 1</li>
                    <li class="footer__item">item 2</li>
                    <li class="footer__item">item 3</li>
                    <li class="footer__item">item 4</li>
                    <li class="footer__item">item 5</li>
                </ul>
            </div>
            <div class="container collapsible">
                <div class="footer__header">
                    <h2>Services</h2>
                    <button class="btn btn--toggler"><img src="../icons/chevron-left.svg" alt=""></button>
                </div>
                <ul class="list">
                    <li class="footer__item">item 1</li>
                    <li class="footer__item">item 2</li>
                    <li class="footer__item">item 3</li>
                    <li class="footer__item">item 4</li>
                    <li class="footer__item">item 5</li>
                </ul>
            </div>
            <div class="container collapsible">
                <div class="footer__header">
                    <h2>About Us</h2>
                    <button class="btn btn--toggler"><img src="../icons/chevron-left.svg" alt=""></button>
                </div>
                <ul class="list">
                    <li class="footer__item">item 1</li>
                    <li class="footer__item">item 2</li>
                    <li class="footer__item">item 3</li>
                    <li class="footer__item">item 4</li>
                    <li class="footer__item">item 5</li>
                </ul>
            </div>
            <div class="container collapsible">
                <div class="footer__header">
                    <h2>Company</h2>
                    <button class="btn btn--toggler"><img src="../icons/chevron-left.svg" alt=""></button>
                </div>
                <ul class="list">
                    <li class="footer__item">item 1</li>
                    <li class="footer__item">item 2</li>
                    <li class="footer__item">item 3</li>
                    <li class="footer__item">item 4</li>
                    <li class="footer__item">item 5</li>
                </ul>
            </div>
            <div class="container collapsible">
                <div class="footer__header">
                    <h2>Contact Us</h2>
                    <button class="btn btn--toggler"><img src="../icons/chevron-left.svg" alt=""></button>
                </div>
                <ul class="list">
                    <li class="footer__item">item 1</li>
                    <li class="footer__item">item 2</li>
                    <li class="footer__item">item 3</li>
                    <li class="footer__item">item 4</li>
                    <li class="footer__item">item 5</li>
                </ul>
            </div>
        </div>
        <div class="container footer__sections">
            <div class="footer__section">
                <img src="../icons/reactjs.svg" alt="">
                <p>&copy;2024 @Demis Getachew</p>
            </div>
        </div>
    </footer>
    <script src="./footerToggler.js"></script>
</body>

</html>